@using DashMq.DataAccess.Model
@model DashMq.Web.Features.Datapoints.DatapointModel

@{
    ViewBag.Title = "Datapoint";
    Layout = "_Layout";
}

<h2>DataPoint Details</h2>

<div class="card m-2">
    <div class="card-header">
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-body">

        <table class="table table-borderless">
            <tbody>

            <tr>
                <td class="col-2">DataPointId</td>
                <td class="col-10">@Model.Id</td>
            </tr>
            <tr>
                <td class="col-2">Topic</td>
                <td class="col-10">@Model.Topic</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

@if (Model.Direction == Direction.Out)
{
    <div class="card m-2">
        <div class="card-header">
            Control
        </div>
        <div class="card-body">
            <button class="btn btn-primary" hx-post="/Datapoints/Click?id=@Model.Id" hx-swap="none">
                Click Me
            </button>
        </div>
    </div>
}

<div class="card m-2">
    <div class="card-header">
        <h5 class="card-title">Data</h5>
    </div>
    <button id="prev-btn" class="btn btn-primary" hx-get="/Datapoints/Fetch?id=@Model.Id" hx-target="#data-table tbody" hx-swap="innerHTML" disabled>
        Previous
    </button>
    <button id="next-btn" class="btn btn-primary" hx-get="/Datapoints/Fetch?id=@Model.Id" hx-target="#data-table tbody" hx-swap="innerHTML">
        NEXT
    </button>
    <div class="card-body">
        <table class="table table-striped" id="data-table">
            <thead>
            <tr>
                <th>Timestamp</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var v in @Model.Values)
            {
                <tr>
                    <td>@DateTimeOffset.FromUnixTimeSeconds(v.Timestamp).ToString("yyy-MM-dd hh:mm:ss")</td>
                    <td>@v.Value</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
    let offset = 0;
    const limit = 20;

    document.getElementById('next-btn').addEventListener('click', function () {
        offset += limit;
        this.setAttribute('hx-vals', `{"offset": ${offset}}`);
        document.getElementById('prev-btn').disabled = offset === 0;
    });

    document.getElementById('prev-btn').addEventListener('click', function () {
        offset = Math.max(0, offset - limit);
        this.setAttribute('hx-vals', `{"offset": ${offset}}`);
    });
</script>
}