@model DashMq.Web.Features.Datapoints.DatapointModel

@{
    ViewBag.Title = "Datapoint";
    Layout = "_Layout";
}

<h2>DataPoint Details</h2>

<div class="card">
    <div class="card-header">
        DataPoint ID: @Model.Id
    </div>
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text"><strong>Topic:</strong> @Model.Topic</p>
    </div>
</div>

<button hx-post="/Datapoints/Click" hx-swap="none">
    Click Me
</button>

<a href="@Url.Action("List")" class="btn btn-primary mt-3">Back to List</a>


<table>
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in @Model.Values)
    {
        <tr>
            <td>@DateTimeOffset.FromUnixTimeSeconds(v.Timestamp)</td>
            <td>@v.Value</td>
        </tr>
    }
    </tbody>
</table>